**I-** Write a Python program to check if a given positive integer is a power of three

In [ ]:
def Power(n):
    while (n % 3 == 0): n /= 3; 
    return n == 1;

print(Power(1))
print(Power(25))
print(Power(27))

**II-** Write a Python program to check if a number is a perfect square

In [ ]:
def is_perfect_square(n):
    x = n // 2
    y = set([x])
    while x * x != n:
        x = (x + (n // x)) // 2
        if x in y: return False
        y.add(x)
    return True

print(is_perfect_square(64))

True

In [ ]:
import math

number = int(input("Number: "))

x = math.sqrt(number)
if int(x + 0.5) ** 2 == number:
    print(number, "perfect square")
else:
    print(number, "not a perfect square")

**III-** Write a Python program to check if an integer is the power of another integer

In [ ]:
def Power(x, y):
   while x % y == 0:
       x = x / y
   return x == 1
print(Power(24, 2))
print(Power(25, 5))
print(Power(81, 3))

**IV-** Write a Python program to find the single number in a list that doesn't occur twice.

In [ ]:
def fu(x):
    result = 0
    for i in x:
        result ^= i
    return result
a = [1, 2, 5, 8, 8, 5, 1]

print(fu(a))

**V-** Write a Python program to find the length of the last word.

In [ ]:
def len1(s):
        word = s.split()
        if len(word) == 0:
            return 0
        return len(word[-1])

print(length_of_last_word("Clarusway ITX"))
print(length_of_last_word("Python quest"))

**VI-** Print the two lists given with their sequence numbers



```
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]```

Expected output:0 Turkey Ankara

In [ ]:
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]
Countries_Capital=zip(Countries,Capitals)
for sira,data in enumerate(Countries_Capital):
    country,capital=data
    print(sira,country,capital)

**VII-** The Fibonacci sequence is a series of numbers where a number is the addition of the last two numbers, starting with 0, and 1.

The Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55…

Written as a rule, the expression is:

Xn = Xn-1 + Xn-2

Write a Python program to find the Fibonacci number corresponding to the sequence number entered by the user

In [25]:
def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    # First Fibonacci number is 0 
    elif n==1: 
        return 0
    # Second Fibonacci number is 1 
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2) 
print(Fibonacci(13))

144

**VIII-** Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

Sample Output: {1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
n=int(input("Input a number "))
dict1 = dict()

for x in range(1,n+1):
    dict1[x]=x*x

print(dict1)

**IX-** Write a Python program to construct the following pattern, using a nested for loop

Expected output


```
+
++
+++
++++
+++++
++++
+++
++
+
```

In [33]:
n=5;
for i in range(n): # yukarisi icin
    for j in range(i):
        print ('+ ', end="")
    print('a')

for i in range(n,0,-1): #asagisi icin
    for j in range(i):
        print('+ ', end="")
    print('')

a
+ a
+ + a
+ + + a
+ + + + a
+ + + + +
+ + + +
+ + +
+ +
+

**X-** Write a Python program to calculate a dog's age in dog's years.
* Note:  

*   For the first two years, a dog year is equal to 10.5 human years.
*   After that, each dog year equals 4 human years

In [ ]:
humanAge = int(input("Enter dog's age: "))

i = 0
dogAge = 0

for i in range(0, humanAge):
 if dogAge <= 2:
  i += 1
  dogAge = i * 10.5
 else:
  dogAge = 2 * 10.5 + (i-1) * 4

print(f"The dog's age in human's years is: {dogAge}")

**XI-** Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born

In [ ]:
year = int(input("Input birth year please: "))
if year % 12 == 0:
 sign = 'Monkey'
elif year % 12 == 1:
 sign = 'Rooster'
elif year % 12 == 2:
 sign = 'Dog'
elif year % 12 == 3:
 sign = 'Pig'
elif year % 12 == 4:
 sign = 'Rat'
elif year % 12 == 5:
 sign = 'Ox'
elif year % 12 == 6:
 sign = 'Tiger'
elif year % 12 == 7:
 sign = 'Hare'
elif year % 12 == 8:
 sign = 'Dragon'
elif year % 12 == 9:
 sign = 'Snake'
elif year % 12 == 10:
 sign = 'Horse'
elif year % 12 == 11:
 sign = 'Sheep'
print(f"Your Zodiac sign : {sign}")

***XII-*** Write a Python program to construct the following pattern, using a nested loop number

Expected output


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [ ]:
for e in range(10):
    print(str(e) * e)

**XIII-** Write a Python function to find the Max of three numbers

In [ ]:
def max1( a, b ): # ilk karsilastirma
    if a > b:
        return a
    return b
def max2( a, b, c ): # son karsilastirma
    return max1( a, max1( b, c ) )
print(max2(2, 7, -5))

**XIV-** Write a Python function to multiply all the numbers in a list

In [40]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 1/8, -1, -5)))

10.0

**XV-** Write a Python program to reverse a string.


`Sample String : "1234abcd"`

`Expected Output : "dcba4321"`

In [ ]:
def reverse(string):
 print(string[::-1])

reverse('David')

**XVI-** Write a Python function that takes a list and returns a new list with unique elements of the first list

For Example:

`list1 = [1,2,3,3,3,3,4]`

expected output:

`[1, 2, 3, 4, 5]`

In [ ]:
def uniquel(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(uniquel([1,2,3,3,3,3,4,5]))

**XVII-** Write a Python program to print the odd numbers from a given list

In [ ]:
def num1(l):
    num = []
    for n in l:
        if n % 2 != 0:
            num.append(n)
    return num
print(num1([1, 2, 3, 4, 5, 6, 7, 8, 9]))

**XVIII-** Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included)

In [ ]:
y = []
x=2000

while x <= 3200:
 x = x + 1
 if x % 7 == 0 and x % 5 == 1:
  y.append(x)
print(y)

**XIX-** Write a program which can compute the factorial of a given numbers

In [ ]:
def fact1(x):
    if x == 0:
        return 1
    return x * fact1(x - 1)

x= int(input('number '))
print (fact1(9))

**XX-** Write a program to find if a three-digit number is an Armstrong Number.

A positive integer is called an Armstrong number of order n if


```
abcd... = an + bn + cn + dn + ...
```
In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:



```
153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.
```

In [ ]:
num = int(input("Enter a number: "))
sum = 0

x = num
while x > 0:
   y = x % 10    # find the sum of the cube of each digit
   sum += y ** 3
   x //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

**XXI-** Write a program to find the numbers divisible by another number and display it.

For examples: 

`list1 = [12, 65, 54, 39, 102, 339, 221] `

let's say we are looking to see if the elements in the list are divisible by 13

expected output:

`Numbers divisible by 13 are [65, 39, 221]`

In [ ]:
list1 = [12, 65, 54, 39, 102, 339, 221]
a = int(input('please give division number: '))

result = list(filter(lambda x: (x % a == 0), list1))

print(f"Numbers divisible by {a} are",result)

**XXII-** Write a program to sort the words in alphabetic order and display it

For examples:

`str1 = "happy holidays for all clarusway members"`

expected output:

```
all
clarusway
for
happy
holidays
members
```

In [ ]:
#str1 = "happy holidays for all clarusway members"
str1 = input("Enter a string: ")

words = [word.lower() for word in str1.split()]
words.sort()

print("The sorted words:")
for word in words:
   print(word)

**XXIII-** Write a program to sort a dictionary by value

For examples:

`dict1 = {7:4, 13:6, 6:9}`

expected output:

`{7: 4, 13: 6, 6: 9}`

In [ ]:
dict1 = {7:4, 13:6, 6:9}

sorted_dt = {key: value for key, value in sorted(dict1.items(), key=lambda item: item[1])}

print(sorted_dt)

**XXIV-** Write a program that takes a string. If the string is all uppercase characters, convert it to lowercase


`"UPS.. SORRY I FORGET CAPS LOCK ON"` ➞ `"sorry i forgot caps lock on"`

In [ ]:
txt1 = input('say something ') 

def lower1(txt):
	if txt.isupper()==True:
		return txt.lower().capitalize()
	else:
		return txt
    
print(lower1(txt1))

**QUEST XXV-** Write a Python program to construct the following pattern

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [ ]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

**QUEST XXVI-** Write a program to accept number from user and calculate the sum of all number from 1 to a given number

For example, if user entered 10 the output should be 55

(10+9+8+7+6+5+4+3+2+1 = 55)

In [56]:
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1):
    sum1 += i
print("\n")
print(f"Sum is {sum1} ")

Please enter number 9


Sum is 45

**QUEST XXVII-** Write a Python program to construct the following pattern

```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

**QUEST XXVIII-** Write a program which display the cube of the number up to a given integer

For Example: 

`num1 = 6`

Expected output:

```
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [ ]:
num = 6
for i in range(1, num + 1):
    print("Current Number is :", i, " and the cube is", (i ** 3))

**QUEST XXIX-** Write a program to split a given string on hyphens into several substrings and display each substring

For Examples :

`str1 = "Emre-is-a-data-scientist"`

Expected output:
```
Emre
is
a
data
scientist
```

In [ ]:
str1 = "Emre-is-a-data-scientist"
print(f"Original String is {str1}")

substrings = str1.split("-") # split string

for sub in substrings:
    print(sub)

**QUEST XXX-** Write a function that prints the salary and employee name from the user

For Example:
```
name: emre

price: 5000
Employee emre salary is: $ 5000
```

In [60]:
def Employee(name = input('Name: '), salary = int(input('Price: '))):
    print("Employee", name, "salary is:", '$',salary)

print(Employee())

Name: emre
Price: 5000
Employee emre salary is: $ 5000
None